.parrafo{
    font-size: 30px;

}

.menu li a:hover{
    color: white;
    display: flex;
    font-size: 25px;
}
.menu li{
    font-size: 15px;
}

body{
    margin: 0;
    background-color: #447D89;  
    background-size: cover;
    background-position: center;
    font-family fuentesita;
}
@font-face {
    font-family: fuentesita;
    src: url("Roboto-Slab.ttf");
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    min-height: 70px;
    background-color: #70B1C7;
    justify-content: space-between;
    align-items: center;
    padding: 10;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{

    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
    font-size: 20;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

.nombre-empresa:hover{
    color: red;
    display: flex;

}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color:aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
        align-items: center;
    }
}

.icons :hover{
    display: inline;
    font-size: 45px;
    color: white;
}

table, th, td{

    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding: 15px;
}
th{
    text-align: center;
}