@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-BdCn.eot');
    src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-ThCn.eot');
    src: url('../fonts/HelveticaNeueLTStd-ThCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-ThCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-ThCn.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-ThCn.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTStd-ThCn.svg#HelveticaNeueLTStd-ThCn') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-HvCn.eot');
    src: url('../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-HvCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-HvCn.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-HvCn.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTStd-HvCn.svg#HelveticaNeueLTStd-HvCn') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
/*
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-MediumCond.eot');
    src: url('../fonts/HelveticaNeue-MediumCond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-MediumCond.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-MediumCond.woff') format('woff'),
        url('../fonts/HelveticaNeue-MediumCond.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-MediumCond.svg#HelveticaNeue-MediumCond') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}*/

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue-Condensed.eot');
    src: url('../fonts/HelveticaNeue-Condensed.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Condensed.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Condensed.woff') format('woff'),
        url('../fonts/HelveticaNeue-Condensed.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Condensed.svg#HelveticaNeue-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

