*{
    font-family: 'Intro';
    font-weight: normal;
    font-style: normal;
}


#top-bar{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 800;
    box-shadow: 0px 2px 10px 0px #88888833;
    padding: 20px 20px 20px 0px;
}

#side-bar{
    padding: 14px 30px;
    position: fixed;
    width: 180px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    z-index: 820;
    box-shadow: 2px 2px 10px 0px #88888833;
}

.item-side-menu {
    margin: 35px 0px;
    cursor: pointer;
}

.txt-item-side {
    padding-left: 10px;
    font-size: 14px;
}

.txt-item-top {
    padding-left: 10px;
    font-size: 12px;
}

.item-top-menu {
    margin: 0px 10px;
    cursor: pointer;
}

.contenedor{            
    text-align: center;
    height: calc(100% - 48px); 
    min-height: 540px;
}

.frm{
    width:calc(100% - 32px); 
    max-width: 400px;
    margin:0px auto;
    padding: 75px 16px 10px 16px;
}
.titulo{
    font-weight: 600;
    line-height: 1.78;
    font-size: 20px;
    color:#000;
    margin: 40px 0px 4px 0px;
}
.error{
    color:#E1001D;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    padding: 6px 0px;
    display: none;
}

.frm-input {
    border: 1px solid #8C8C8C;
    border-radius: 4px;    
    background-color: #fff;
    height: 52px;
    padding: 0px 16px;    
    text-align: left;
    /*border-bottom: 2px solid #fff;*/
}

.etiqueta{    
    margin-top: 5px;
    font-size: 16px;     
    /*margin-top: -4px;
    font-size: 12px;*/
    color: #2c2c33;
}

.entrada{    
    width: 100%;
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    font-size: 16px;
    margin-top: 4px;
    display: none;
}

.icon-entrada{
    display: none;
}

.btn {
    background-size: 100%;
    background: linear-gradient(77deg,#E1001D,#A00104);
    border-radius: 32px;
    padding: 0;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 100%;
    height: 48px;
    font-size: 14px;
    line-height: 1.71!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
}

.btn:hover {
    opacity: .9;
}

.btn:disabled {
    background: #8E9BA9;
    opacity: 1;
}

.btn:disabled:hover {
     opacity: .85;
}


#espacio-side-bar{
    padding-left: 256px;
}

#logo-top-bar{
    margin: 0px 40px 0px 20px;
    display: none;
}

#menu-mobile{
    display: none;
}

select {
    padding: 16px;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}


@media (max-width:991px) {
    #side-bar,#super-d{
        display: none;
    }

    #espacio-side-bar{
        padding-left: 0px;
    }

    #logo-top-bar{        
        display: block;
    }
}

@media (max-width:882px) {
    #menu-top-bar{
        display: none;
    }

    #menu-mobile{
        display: inline-table;
    }
}


@media (max-width:486px) {
    #bienvenido{
        display: none;
    }
}

