*{
    font-family: 'Intro';
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #transparent;
    padding: 0;
    margin: 0;
}

.panel-izquierdo{    
    width: 52%; 
    min-height: 660px;    
    height: calc(100% - 110px);
    float: right; 
    text-align: center;
}

.frm{
    width:calc(100% - 32px); 
    max-width: 400px;
    margin:0px auto;
    padding: 75px 16px 10px 16px;
}
.titulo{
    font-weight: 600;
    line-height: 1.78;
    font-size: 20px;
    color:#252b31;
    margin: 40px 0px 34px 0px;
}
.error{
    color:#a00104;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    padding: 6px 0px;
    display: none;
}

.frm-input {
    border: 1px solid #ACBAC9;
    border-radius: 4px;    
    background-color: #fff;
    height: 52px;
    padding: 0px 16px;    
    text-align: left;
    /*border-bottom: 2px solid #fff;*/
}

.etiqueta{    
    margin-top: 5px;
    font-size: 16px;     
    /*margin-top: -4px;
    font-size: 12px;*/
    color: #77899A;
}

.entrada{    
    width: 100%;
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    font-size: 16px;
    margin-top: 4px;
    display: none;
}

.icon-entrada{
    display: none;
}

#ico-flecha-ar{
    display: none;
}

#titulo-tipo{
    font-size: 12px;
    color: #0048DB !important;
    margin-bottom: 5px;
}

#txt-documento{
    font-size: 16px;  
    color: #2c2c33!important;
    margin-top: 5px;
}

#menu-tipo{
    background-color:#fff;
    width: calc(100% - 32px);
    max-width: 400px; 
    position:absolute;
    box-shadow: 0 5px 10px #acbac9;
    display: none;
}

.item-menu{
    background-color: #fff;
    font-size: 16px;
    padding: 16px 24px;
    color: #414a53;
    border-bottom: 1px solid #ACBAC9;
    text-align: left;
    cursor: pointer;
}

.item-menu:hover{
    background-color: #DBE2E8;
}

#inp-tipo{
    cursor: pointer;
}

.btn {
    background-size: 100%;
    background: linear-gradient(77deg,#E1001D,#A00104);
    border-radius: 32px;
    padding: 0;
    cursor: pointer;
    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 100%;
    max-width: 100%;
    height: 48px;
    font-size: 14px;
    line-height: 1.71!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
}

.btn:hover {
    opacity: .9;
}

.btn:disabled {
    background: #8E9BA9;
    opacity: 1;
}

.btn:disabled:hover {
     opacity: .85;
}

#footer1{
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 900;
    padding-left: 16px;
    padding-bottom: 19px;
}

#footer2{
    padding: 19px 16px;    
    display: none;
    width: calc(100% - 32px);
}

#footer5{
    padding: 19px 16px;        
    width: calc(100% - 32px);
    display: none;
}


#footer3{    
    padding:19px 16px;
    display: none;
    width: calc(100% - 32px);
}

#footer4{
    padding:19px 16px;
    display: none;
    width: calc(100% - 32px);
}

.etq-titulo{
    font-size: 12px;
    color: #252b31;
    padding: 0px 7px;
}
.etq-telefono{
    font-weight: 300;
    font-size: 12px;
    color: #252b31;
    padding: 0px 7px;
}

.etq-telefono-m{
    font-weight: 300;
    font-size: 13px;
    color: #252b31;
}

.borde{
    border-right: 1px solid #283747;
}

#lado-der{
    background-image: url('../img/fondo.svg');
    background-repeat: no-repeat;
}
#super-nuevo{
    position: absolute;left: 30px;top: 340px;z-index: 200;width: 10px;
}

#sup-der{
        position: fixed;
    z-index: -1;
    width: 100vh;
    height: 100vh;
    opacity: .2;
    background: radial-gradient(circle farthest-side at center center,#0048DB 0%,#fff 100%);
    bottom: 67%;
    left: 23%;
    animation: gradient-animation-top 10s ease infinite;
    overflow: hidden;
    display: none;
}

#inf-izq{
    position: fixed;
    z-index: -1;
    top: 55%;
    right: 45%;
    width: 100vw;
    height: 100vw;
    opacity: .2;
    background: radial-gradient(circle farthest-side at center center,#E1001D 0%,#fff 100%);
    animation: gradient-animation-bottom-sm 10s ease infinite;
    overflow: hidden;
    display: none;
}
.pnl-izq{
    background-color: #fff;
    max-width: 482px;
    /*height: 656px;*/
    margin: 0 auto;
    padding: 90px 50px;
    border-radius: 24px;
    border: 1px solid #DEE1E4;
    box-shadow: 0 3px 9px #c3cfe280;
    text-align: center;
}

.slider{
    max-width: 607px;
    width: 94%;
    margin: auto;
    overflow: hidden;    
}

.slider ul{
    padding: 0;
    display: flex;
    /*width: 2428px;*/
    width: 400%;
    animation: cambio 20s infinite alternate;
}

.slider li{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 100%;
}

@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


@media (max-width:1220px) {
    .etq-titulo{
        font-size: 10px;
    }
    .etq-telefono{
        font-size: 9.5px;
    }
    .etq-telefono-m{
        font-size: 9.5px;
    }
}

@media (max-width:991px) {

    .pnl-izq{
        margin: 50 auto;
    }

    #lado-der,#super-nuevo{
        display: none;
    }

    #lado-izq{
        width: 100%;
    }

    .panel-izquierdo{
        width: 100%; 
    }

    #footer1{
        display: none;
    } 

    #footer2,#inf-izq,#sup-der{
        display: block;
    }
}


@media (max-width:768px) {

    .pnl-izq {
        background-color: unset;
        border-radius: unset;
        box-shadow: unset;
        border: unset;
    } 

    #footer3,#footer5{
        display: block;
    }

    #col-super,#col-logo,#footer2{
        display: none;
    }
}

@media (max-width:575px) {
    #footer1,#footer5{
        display: none;
    } 

    #footer2{
        display: none;
    }    

    #footer4{
        display: block;
    }

    .etq-titulo{
        font-size: 12px;
    }
    .etq-telefono{
        font-size: 12px;
    }
    .etq-telefono-m{
        font-size: 12px;
    }



}





