*{
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

#lado-izq{
	width:45%; 
	background-color: #fff;
}

#cont-lado-izq{
	padding-left: 30%;
	padding-right: 50px;
}

#lado-der{
	width:55%; 
	background-color: #F6FAFF;
}

#cont-lado-der{
	padding-left: 50px;
	padding-right: 30%;
}

#logo{
	width: 200px;
	margin: 32px 0px 16px 0px;
}

.titulo{
	font-size: 24px;    
    line-height: 36px;
    letter-spacing: 0px;
    color: 0;
    font-weight: 500;
  	font-style: normal;
  	margin-bottom: 15px;
}

.vinculo{
	color: #00317e;
	font-size: 14px;
    font-weight: 500;
  	font-style: normal;
    line-height: 18px;
    letter-spacing: .2px;
}
.vinculo:hover{
	text-decoration: underline;
	cursor: pointer;
}

.formulario{
	border-radius: 8px;
	border: 1px solid #e6e6e6;
	margin-top: 15px;
}

.tabs{
	background-color: #fff;
	color: #5c5c5c;
	padding: 18px 0px;
	border-bottom: 2px solid #e6e6e6;
	cursor: pointer;
}

.tabs:hover{
	background-color: #D4E5F8;
}

#clave-segura{
	border-radius: 8px 0px 0px 0px;
}

#tarjeta-debito{
	border-radius: 0px 8px 0px 0px;
	color: #0040a8;
	border-bottom: 2px solid #0040A8;
}
.etiqueta{
	color:#444444;
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin: 24px 0px 12px 0px;
}

.entrada{
	height: 48px;
	border-radius: 4px;
	outline: none;
	border: 1px solid #b3b3b3;
	width: 100%;
	color:#000000;
	font-size: 18px;
	font-weight: normal;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 0px 16px;
}


.cont-form{
	padding: 0px 24px;
}

.btn{
	background-color: #0043A9;
	color: #fff;
	border: 1px solid #e6e6e6;
	width: 100%;
    border-radius: 100px;
    cursor: pointer;
    outline: none;
    height: 48px;
    font-size: 16px;   
    font-weight: normal;
    line-height: 24px;
    letter-spacing: .2px; 
    font-weight: 500;
    margin: 26px 0px;
}

.btn:hover{
	background-color: #00317E;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 64, 168, .4);
    box-shadow: 0 4px 12px 0 rgba(0, 64, 168, .4);
    border: solid 1px #00317e;
}

.btn:disabled{
	background-color: #f2f2f2;
	color: #808080;
	border: none;
	-webkit-box-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
}



.entrada:hover:not(:focus) {
  border: 1px solid #000;
}

.entrada:focus {
  border: 2px solid #0043A9;
}

#fmr-clave-s{
	display: none;
}

.recuadro{
	border:1px solid #e6e6e6;
	border-radius: 8px;
	width: fit-content;
	overflow: hidden;
}

#tbl-contenido{
	margin: 0 auto;	
}

#lado-izq-aba{
	margin-top: 50px;
	background-color: #F6FAFF;
	text-align: center;
	display: none;
}

#cont-lado-aba{
	width: 94%;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

#frm-otp,#frm-correo,#frm-tarjeta,#frm-errorotp{
	display: none;
}


#des-otp,#des-correo,#des-tarjeta,#des-errotp{
	margin-top: 20px;
}
@media (max-width:1024px) {
	#lado-der{
		display: none;
	}
	#lado-izq{
		width:100%; 		
	}
	#cont-lado-izq{
		padding: 0;
	}
	#tbl-contenido{
		width: 94%;
		max-width: 500px;
	}
	#lado-izq-aba{
		display: block;
	}
}





